config system interface
    edit "{{ intf.name }}"
        {# VDOM #}
        set vdom "{{ intf.cf.fortigate_vdom | default('root') }}"

        {# Tipo #}
        set type {{ intf.cf.fortigate_type | default('physical') }}

        {# Alias (opcional) #}
        {%- if intf.cf.alias | default('') %}
        set alias "{{ intf.cf.alias }}"
        {%- endif %}

        set device-identification enable
        set lldp-transmission enable

        {# Rol (opcional, pero recomendado) #}
        {%- if intf.cf.iface_role | default('') %}
        set role {{ intf.cf.iface_role | lower }}
        {%- endif %}

        {# IPv4 #}
        {% for ip in intf.ip_addresses.all() | selectattr('family', 'equalto', 4) %}
        set ip {{ ip.address.ip }} {{ ip.address.netmask }}
        {% endfor %}

        {# IPv6 #}
        {% for ip in intf.ip_addresses.all() | selectattr('family', 'equalto', 6) %}
        config ipv6
            set ip6-address {{ ip.address }}
            set ip6-allowaccess {{ intf.cf.ip6_allowaccess | default('ping') }}
        end
        {% endfor %}
    next
end
