config system interface
    edit "{{ intf.name }}"
        {# VDOM #}
        set vdom "{{ intf.custom_fields.fortigate_vdom | default('root') }}"

        {# Tipo #}
        set type {{ intf.custom_fields.fortigate_type | default('physical') }}

        {# Alias (opcional) #}
        {%- if intf.custom_fields.fortigate_alias | default('') -%}
        set alias "{{ intf.custom_fields.fortigate_alias }}"
        {%- endif -%}

        set device-identification enable
        set lldp-transmission enable

        {# Rol (opcional, pero recomendado) #}
        {%- if intf.custom_fields.fortigate_role | default('') -%}
        set role {{ intf.custom_fields.fortigate_role }}
        {%- endif -%}

        {# IPv4 #}
        {% for ip in intf.ip_addresses.all() | selectattr('family.value', '==', 4) %}
        set ip {{ ip.address.ip }} {{ ip.address.netmask }}
        {% endfor %}

        {# IPv6 #}
        {% for ip in intf.ip_addresses.all() | selectattr('family.value', '==', 6) %}
        config ipv6
            set ip6-address {{ ip.address }}
            set ip6-allowaccess {{ intf.custom_fields.ip6_allowaccess | default('ping') }}
        end
        {% endfor %}
    next
end
