{# Solo para depuración: configura IPv6 en port2 #}
{% for intf in device.interfaces.all() | selectattr('enabled') %}
{% if intf.name == "port2" %}
config system interface
    edit "port2"
        set vdom "root"
        set type physical
        {% for ip in intf.ip_addresses.all() | selectattr('family.value', '==', 6) %}
        config ipv6
            set ip6-address {{ ip.address }}
            set ip6-allowaccess ping https
        end
        {% endfor %}
    next
end
{% endif %}
{% endfor %}
    
