# =========================
# Interfaces
# =========================

config system interface

{% for intf in device.interfaces.all() if intf.enabled %}
edit "{{ intf.name }}"

{% if intf.cf.vdom %}
    set vdom "{{ intf.cf.vdom }}"
{% endif %}

{% if intf.type %}
    set type {{ intf.type }}
{% endif %}

{% if intf.cf.alias %}
    set alias "{{ intf.cf.alias }}"
{% endif %}

{% if intf.cf.role %}
    set role {{ intf.cf.role }}
{% endif %}

{% if intf.cf.device_identification %}
    set device-identification enable
{% endif %}

{% if intf.cf.lldp_transmission %}
    set lldp-transmission enable
{% endif %}

{# IPv6 config #}
{% set ipv6_addrs = intf.ip_addresses.all() | selectattr("family.value", "equalto", 6) | list %}
{% if ipv6_addrs %}
    config ipv6
    {% for ip in ipv6_addrs %}
        set ip6-address {{ ip.address }}
    {% endfor %}

    {% if intf.cf.allowaccess_v6 %}
        set ip6-allowaccess {{ intf.cf.allowaccess_v6 | join(" ") }}
    {% endif %}
    end
{% endif %}

next
{% endfor %}

end
