{# fortigate_netbox_template.j2 #}
config system interface
{% for intf in device.interfaces.all() if intf.enabled %}
edit "{{ intf.name }}"
  set vdom "root"
  {% if intf.description %}set description "{{ intf.description }}"{% endif %}
  
  {# IPv4 Configuration #}
  {% set ipv4_addresses = intf.ip_addresses.all()|selectattr('family.value', '==', 4)|list %}
  {% if ipv4_addresses %}
    {% for ip in ipv4_addresses %}
  set ip {{ ip.address }}
    {% endfor %}
  {% else %}
  set mode dhcp
  {% endif %}
  
  {# IPv6 Configuration #}
  config ipv6
    {% set ipv6_addresses = intf.ip_addresses.all()|selectattr('family.value', '==', 6)|list %}
    {% if ipv6_addresses %}
    set ip6-mode static
    config ip6-address
      {% for ip in ipv6_addresses %}
      edit {{ loop.index }}
        set ip6-address {{ ip.address }}
      next
      {% endfor %}
    end
    {% else %}
    set ip6-mode dhcp
    {% endif %}
    
    {# IPv6 RA based on tags #}
    {% set tag_names = intf.tags.all()|map(attribute='name')|list %}
    config ip6-send-adv
      set status {{ 'enable' if 'ipv6-ra' in tag_names else 'disable' }}
      {% if 'ipv6-ra' in tag_names %}
      set max-interval 600
      set min-interval 200
      {% endif %}
    end
  end
  
  set status up
  set allowaccess ping https ssh
next
{% endfor %}
end

{# Firewall policies if there are interfaces #}
{% if device.interfaces.all()|selectattr('enabled')|list %}
config firewall policy6
  edit 1
    set name "IPv6 Internal Traffic"
    set srcintf "any"
    set dstintf "any"
    set srcaddr6 "all"
    set dstaddr6 "all"
    set action accept
    set schedule "always"
    set service "ALL"
    set logtraffic all
  next
end
{% endif %}
 
       

    
