sysname {{ device.name }}
system-view

interface {{ intf.name }}
{%- if intf.description %} description {{ intf.description }}{% endif %}
 ipv6 enable

{# IPs IPv6 asignadas #}
{% for ip in intf.ip_addresses.all() | selectattr('family.value', '==', 6) %}
 ipv6 address {{ ip.address }}
{% endfor %}

{# ¿Enviar Router Advertisements? #}
{%- if intf.custom_fields.get('ipv6_ra', 'disabled') == 'enabled' %}
 undo ipv6 nd ra halt
{%- else %}
 ipv6 nd ra halt
{%- endif %}

 undo shutdown
quit

commit
return
