sysname {{ device.name }}
system-view

{# Filtrar interfaces habilitadas #}
{% set enabled_interfaces = device.interfaces.all() | selectattr('enabled', '==', True) | list %}

{% for intf in enabled_interfaces %}
{% if intf and intf.name %}
interface {{ intf.name }}
{% if intf.description %} description {{ intf.description }}{% endif %}
 ipv6 enable

{# Direcciones IPv6 #}
{% set ipv6_ips = intf.ip_addresses.all() | selectattr('family', '==', 6) %}
{% for ip in ipv6_ips %}
 ipv6 address {{ ip.address.ip }} {{ ip.address.netmask }}
{% endfor %}

{# Tags para RA #}
{% if intf.tags.all() %}
{% set tags_list = intf.tags.all() | map(attribute='name') | list %}
{% if 'ipv6-ra' in tags_list %}
 undo ipv6 nd ra halt
{% endif %}
{% endif %}

 undo shutdown
quit

{% endif %}
{% endfor %}

commit
return

