sysname {{ device.name }}
system-view

{% for intf in device.interfaces.all() | selectattr('enabled', '==', True) %}
interface {{ intf.name }}

{% if intf.description %}
 description {{ intf.description }}
{% endif %}

{% set has_ipv6 = false %}
{% for ip in intf.assigned_ips %}
{% if ip.family.value == 6 %}
{% set has_ipv6 = true %}
{% endif %}
{% endfor %}

{% if has_ipv6 %}
 ipv6 enable
{% endif %}

{% for ip in intf.assigned_ips %}
{% if ip.family.value == 6 %}
 ipv6 address {{ ip.address }}
{% endif %}
{% if ip.family.value == 4 %}
 ip address {{ ip.address }}
{% endif %}
{% endfor %}

{% if intf.cf and intf.cf.ipv6_ra_enabled %}
 undo ipv6 nd ra halt
{% endif %}

 undo shutdown
quit

{% endfor %}

commit
return
